services:
  app:
    container_name: "app"
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "19081:8080"
    environment:
      JAVA_TOOL_OPTIONS: "-Djava.net.preferIPv4Stack=true"
      DB_USER: app
      DB_PASSWORD: app
      DB_NAME: appdb
      DB_HOST: appdb
      DB_PORT: 5432
      ACCESS_MANAGER_HOST: access_manager
      ACCESS_MANAGER_PORT: 8080
      REDIS_HOST: redis
      REDIS_PORT: 6379
      RUNNER_HOST: runner
      RUNNER_PORT: 8080
    depends_on:
      appdb:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - snippet-searcher-develop

  appdb:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: appdb
    volumes:
      - app-pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U app -d appdb" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - snippet-searcher-develop

  redis:
    container_name: "redis"
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 1s
      timeout: 3s
      retries: 30
    volumes:
      - redis-data:/data
    networks:
      - snippet-searcher-develop

volumes:
  app-pgdata:
  redis-data:

networks:
  snippet-searcher-develop:
    external: true