services:
  api:
    container_name: "app"
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    environment:
      DB_USER: app
      DB_PASSWORD: app
      DB_NAME: appdb
      DB_HOST: appdb
      DB_PORT: 5432
      REDIS_HOST: localhost
      REDIS_PORT: 6379
    depends_on:
      - appdb

  appdb:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: appdb
    volumes:
      - app-pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d

volumes:
  app-pgdata: